{% extends 'base.html' %}
<!---->
{% load static %}
<!---->
{% block title %}Welcome{% endblock title %}
<!---->
{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br /><br />
    <h1 class="header center orange-text">
      Starter Template by
      <a class="orange-text text-lighten-3" href="http://materializecss.com"
        >Materialize</a
      >
    </h1>
    <div class="row center">
      <h5 class="header col s12 light">
        A modern responsive front-end framework based on Material Design
      </h5>
    </div>
    <div class="row center">
      <a
        href="http://materializecss.com/getting-started.html"
        id="download-button"
        class="btn-large waves-effect waves-light blue lighten-1"
        >Get Started</a
      >
    </div>
    <br /><br />
  </div>
</div>

<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">person_pin</i>
          </h2>
          <h5 class="center">Login</h5>

          <p class="light">
            Test the
            <a
              href="#"
              class="btn-small waves-effect waves-light blue lighten-1"
              ><i class="material-icons left">cloud</i> login
            </a>
            features incorporated.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">person_add</i>
          </h2>
          <h5 class="center">Register as a student</h5>

          <p class="light">
            <a
              href="#"
              class="btn-small waves-effect waves-light blue lighten-1"
            >
              <i class="material-icons left">cloud</i>Register</a
            >
            to test the functionalities incorporated.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center light-blue-text">
            <i class="material-icons">person_add</i>
          </h2>
          <h5 class="center">Register as s Lecturer</h5>

          <p class="light">
            <a
              href="#"
              class="btn-small waves-effect waves-light blue lighten-1"
            >
              <i class="material-icons left">cloud</i>Sign up
            </a>
            as a Lecturer to test these features.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br /><br />
</div>
{% endblock content %}
