{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1.0"
    />
    <title>Authentication System - {% block title %}{% endblock title %}</title>
    <script src="{% static 'js/jquery.min.js' %}"></script>

    <!-- CSS  -->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link
      href="{% static 'css/style.css' %}"
      type="text/css"
      rel="stylesheet"
      media="screen,projection"
    />
  </head>
  <body class="wrapper">
    {% include 'includes/_header.html' %}
    <!--messages-->
    {% if messages %}
    <!--iterate messages-->
    {% for message in messages %}
    <div class="materialert {{message.tags}}" id="materialAlert">
      <div class="material-icons">check</div>
      {{message}}
      <button type="button" class="close-alert" id="closeAlert">×</button>
    </div>
    {% endfor %} {% endif %}
    <!-- content -->
    <div class="main">{% block content %}{% endblock content %}</div>
    <!--footer-->
    {% include 'includes/_footer.html' %}

    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
      $(".dropdown-trigger").dropdown();
      (function ($) {
        $(function () {
          $(".sidenav").sidenav();
        }); // end of document ready
      })(jQuery); // end of jQuery name space

      $(document).ready(function () {
        $("select").formSelect();
      });

      const csrftoken = $("[name=csrfmiddlewaretoken]").val();
      if (csrftoken) {
        function csrfSafeMethod(method) {
          // these HTTP methods do not require CSRF protection
          return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
        }
        $.ajaxSetup({
          beforeSend: function (xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
          },
        });
      }
    </script>
    <script>
      if (document.getElementById("closeAlert")) {
        document.getElementById("closeAlert").addEventListener("click", () => {
          document.getElementById("materialAlert").style.display = "none";
        });
      }
    </script>
    {% block js %}{% endblock js %}
  </body>
</html>
